@model Employees.Models.DTO.CompanyModel;

<h2>Добавление сотрудника</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="FullName">ФИО</label><br />
        <input type="text" asp-for="FullName" />
    </p>
    <p>
        <label asp-for="PhoneNuber">Номер телефона</label><br />
        <input type="text" asp-for="PhoneNuber" />
    </p>[dbo].[Departments]
    <p>
        <label asp-for="CompanyName">Департамент</label><br />
        <input type="text" asp-for="CompanyName" />
    </p>
    <p>
        <input type="submit" value="Создать" />
    </p>
</form>