@model Employees.Models.DTO.CompanyModel;

<h2>Удаление отдела</h2>
<form asp-action="deletedepartment" asp-controller="home">
    <p>
        <label asp-for="CompanyName">Название отдела</label><br />
        <select asp-for="CompanyName" asp-items="ViewBag.Department"></select>
    </p>
    <p>
        <input type="submit" value="Удалить" />
    </p>
</form>
