@model Employees.Models.DTO.CompanyModel;

<h2>Редактирование сотрудника</h2>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.EditId">    
    
    <p><h3><label>@Model.FullName</label></h3></p>
    <p>
        <label asp-for="PhoneNuber">Номер телефона</label><br />
        <input type="text" asp-for="PhoneNuber" />
    </p>
    <p>
        <label asp-for="CompanyName">Отдел</label><br />
        <input type="text" asp-for="CompanyName" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>