@model Employees.Models.IndexViewModel

<style>
td{padding:5px;}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
</style>

<h2>Список сотрудников</h2>
<p><a asp-action="Create">Добавить сотрудника</a></p>
<p><a asp-action="CreateDepartment">Добавить отдел</a></p>
<p><a asp-action="DeleteDepartment">Удалить отдел</a></p>
<p><a asp-action="ListDepartment">Переименовать отдел</a></p>


<h3>Фильтры по ФИО и номеру телефона</h3>
<div class="form-group">
    <input type="text" id="search" oninput="FilterByFullName()" placeholder="Введите название" />
</div>

<div id="employeeList">
    @await Html.PartialAsync("_EmployeeList", Model.Employees)
</div>

<script>
    function FilterByFullName()
    {
        var searchTerm = document.getElementById('search').value;
         $.ajax({
                    url: '@Url.Action("EmployeesList", "Home")',
                    type: 'GET',
                    data: { searchTerm: searchTerm },
                    success: function(data) {
                        $('#employeeList').html(data);
                    },
                    error: function(xhr, status, error) {
                        console.error('Ошибка:', error);
                    }
                });
    }
</script>

<script src="/lib/jquery/jquery.min.js"></script>
        
